.chat-box
  .chat-box__user-name
    test
    .chat-box__user-name__time
      2019/08/22(thu)08:37:08
  %p.chat-box__text
    まだメッセージはありません
.chat-box
  .chat-box__user-name
    test
    .chat-box__user-name__time
      2019/08/22(thu)08:40:08
  %p.chat-box__text
    まだメッセージはありません