.group
  = link_to root_path do
    .group__name
      test
    .group__message
      まだメッセージはありません
.group
  = link_to root_path do
    .group__name
      sample
    .group__message
      まだメッセージはありません
.group
  = link_to root_path do
    .group__name
      example
    .group__message
      まだメッセージはありません