.wrapper
  .left-contents
    .left-header
      .left-header__box
        .left-header__box__name
          tarou
        .left-header__box__btn
          = link_to root_path do
            %i.fa.fa-edit 
          = link_to root_path do
            %i.fa.fa-cog 
